.Board {
    width: 47%;
    margin: auto;
    height: 500px;
    background-color: rgb(238, 238, 238);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr)
}

.Board div {
    border: 1px solid black;
}

@media only screen and (max-width: 996px) {
    .Board {
        width: 70%;
    }
}

@media only screen and (max-width: 500px) {
    .Board {
        width: 95%;
    }
}